---
import Layout from '../layouts/Layout.astro'
import Computer from '../components/icons/Computer.astro'
import WebDesing from '../components/icons/WebDesing.astro'
import Services from '../components/Services.astro'
import Projects from '../components/Projects.astro'
import ContactForm from '../components/ContactForm.astro'
import Benefits from '../components/Benefits.astro'
import Pricing from '../components/Pricing.astro'
import Questions from '../components/Questions.astro'
---

<Layout title="Desarrollo Digital">
  <main
    class="flex justify-center gap-x-4 flex-col-reverse items-center sm:flex-row mb-10 sm:mb-0 xl:px-0"
  >
    <div class="flex flex-col justify-center items-center sm:items-start gap-y-4 max-w-lg">
      <h1
        class="-text-color-secondary text-4xl md:text-5xl lg:text-6xl xl:text-7xl text-center sm:text-left"
      >
        Impulsa tu negocio con una <span class="-text-color-tertiary">Solución digital</span>
      </h1>
      <p class="-text-color-secondary text-lg text-center sm:text-left">
        Desarrollo Digital te ayuda a llevar tu negocio al siguiente nivel con una solución
        digital a la medida.
      </p>
      <a
        class="p-4 text-xl font-medium w-fit rounded -bg-color-tertiary transition-colors hover:-bg-color-secondary hover:-text-color-primary bg-opacity-60"
        href="https://wa.me/573025173242"
        target="_blank"
      >
        Cotiza tu Proyecto
      </a>
    </div>
    <WebDesing class="min-w-72 w-1/2 h-auto -text-color-primary" />
  </main>
  <Benefits />
  <Services />
  <Pricing />
  <Projects />
  <Questions />
  <ContactForm />
</Layout>
