---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Gracias">
  <div class="flex flex-col items-center justify-center bg-gray-100 h-96 text-center">
    <div class="-bg-color-primary p-8 rounded-lg shadow-2xl max-w-lg">
      <h1 class="text-3xl text-green-500 mb-4">¡Gracias por tu solicitud!</h1>
      <p class="text-gray-700 mb-6">
        Hemos recibido tu solicitud de cotización. Nos pondremos en contacto contigo lo antes
        posible para brindarte más información.
      </p>
      <a
        href="/"
        class="px-6 py-3 text-xl font-medium w-fit rounded -bg-color-tertiary transition-colors hover:-bg-color-secondary hover:-text-color-primary bg-opacity-60"
      >
        Volver al inicio
      </a>
    </div>
  </div>
</Layout>
