---
import Browser from './icons/Browser.astro'
import Hours24 from './icons/Hours24.astro'
import Rocket from './icons/Rocket.astro'
import Seo from './icons/Seo.astro'
---

<section id="Beneficios">
  <div class="max-w-screen-md text-pretty mb-8 lg:mb-12">
    <h2 class="mb-4 text-4xl tracking-tight" data-aos="fade-right">
      🌐 ¿Por Qué Elegirnos para Tu Proyecto Digital?
    </h2>
    <p
      class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400"
      data-aos="fade-right"
      data-aos-delay="100"
    >
      Elige el plan que mejor se adapte a tus necesidades y comienza a disfrutar de todas las
      ventajas que te ofrecemos.
    </p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <!-- Artículo 1: Entrega Rápida -->
    <article
      data-aos="fade-down"
      class="bg-color-tertiary px-4 sm:p-6 shadow-md flex items-center flex-wrap sm:flex-nowrap gap-y-2 -border-l-color-tertiary border-l-2 border-opacity-80"
    >
      <div class="icon-placeholder mr-4" data-aos="zoom-in">
        <Rocket class="size-10" />
      </div>
      <div>
        <h3 class="text-lg text-pretty" data-aos="fade-right">Entrega Rápida y Eficiente</h3>
        <p class="text-pretty" data-aos="fade-right">
          Entrega ágil y de calidad: cumplimos los plazos sin comprometer los resultados.
        </p>
      </div>
    </article>

    <!-- Artículo 2: Soporte Técnico 24/7 -->
    <article
      data-aos="fade-down"
      class="bg-color-secondary px-4 sm:p-6 shadow-md flex items-center flex-wrap sm:flex-nowrap gap-y-2 border-l-2 -border-l-color-tertiary border-opacity-80"
    >
      <div class="icon-placeholder mr-4" data-aos="zoom-in">
        <Hours24 class="size-10" />
      </div>
      <div>
        <h3 class="text-lg text-pretty" data-aos="fade-right">Soporte Técnico 24/7</h3>
        <p class="text-pretty" data-aos="fade-right">
          Asistencia continua antes, durante y después del lanzamiento.
        </p>
      </div>
    </article>

    <!-- Artículo 3: SEO Optimizado -->
    <article
      data-aos="fade-down"
      class="bg-color-primary px-4 sm:p-6 shadow-md flex items-center flex-wrap sm:flex-nowrap gap-y-2 border-l-2 -border-l-color-tertiary border-opacity-80"
    >
      <div class="icon-placeholder mr-4" data-aos="zoom-in">
        <Seo class="size-10" />
      </div>
      <div>
        <h3 class="text-lg text-pretty" data-aos="fade-right">
          SEO Optimizado para Resultados Reales
        </h3>
        <p class="text-pretty" data-aos="fade-right">
          Mejoramos tu posicionamiento para atraer más tráfico y clientes potenciales.
        </p>
      </div>
    </article>

    <!-- Artículo 4: Diseño Responsivo -->
    <article
      data-aos="fade-down"
      class="bg-color-tertiary px-4 sm:p-6 shadow-md flex items-center flex-wrap sm:flex-nowrap gap-y-2 border-l-2 -border-l-color-tertiary border-opacity-80"
    >
      <div class="icon-placeholder mr-4" data-aos="zoom-in">
        <Browser class="size-10" />
      </div>
      <div>
        <h3 class="text-lg text-pretty" data-aos="fade-right">
          Diseño Web Responsivo y Adaptable
        </h3>
        <p class="text-pretty" data-aos="fade-right">
          Nos aseguramos que tu sitio se vea perfecto en cualquier dispositivo, garantizando
          una experiencia excepcional.
        </p>
      </div>
    </article>
  </div>
</section>

<style>
  .icon-placeholder {
    @apply p-2 -bg-color-tertiary bg-opacity-80 rounded-full flex items-center justify-center;
  }
</style>
