---
import Browser from './icons/Browser.astro'
import Hours24 from './icons/Hours24.astro'
import Rocket from './icons/Rocket.astro'
import Seo from './icons/Seo.astro'
---

<section class="mb-12">
  <h2 class="text-center mb-12">¿Por Qué Elegirnos para Tu Proyecto Digital?</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <!-- Artículo 1: Entrega Rápida -->
    <article
      class="bg-color-tertiary px-4 sm:p-6 shadow-md flex items-center flex-wrap sm:flex-nowrap gap-y-2 -border-l-color-tertiary border-opacity-20 border-l-2"
    >
      <div class="icon-placeholder mr-4">
        <Rocket class="size-10" />
      </div>
      <div>
        <h3 class="text-lg text-pretty">Entrega Rápida y Eficiente</h3>
        <p class="text-pretty">
          Entrega ágil y de calidad: cumplimos los plazos sin comprometer los resultados.
        </p>
      </div>
    </article>

    <!-- Artículo 2: Soporte Técnico 24/7 -->
    <article
      class="bg-color-secondary px-4 sm:p-6 shadow-md flex items-center flex-wrap sm:flex-nowrap gap-y-2 border-l-2 -border-l-color-tertiary border-opacity-20"
    >
      <div class="icon-placeholder mr-4">
        <Hours24 class="size-10" />
      </div>
      <div>
        <h3 class="text-lg text-pretty">Soporte Técnico 24/7</h3>
        <p class="text-pretty">
          Asistencia continua antes, durante y después del lanzamiento.
        </p>
      </div>
    </article>

    <!-- Artículo 3: SEO Optimizado -->
    <article
      class="bg-color-primary px-4 sm:p-6 shadow-md flex items-center flex-wrap sm:flex-nowrap gap-y-2 border-l-2 -border-l-color-tertiary border-opacity-20"
    >
      <div class="icon-placeholder mr-4">
        <Seo class="size-10" />
      </div>
      <div>
        <h3 class="text-lg text-pretty">SEO Optimizado para Resultados Reales</h3>
        <p class="text-pretty">
          Mejoramos tu posicionamiento para atraer más tráfico y clientes potenciales.
        </p>
      </div>
    </article>

    <!-- Artículo 4: Diseño Responsivo -->
    <article
      class="bg-color-tertiary px-4 sm:p-6 shadow-md flex items-center flex-wrap sm:flex-nowrap gap-y-2 border-l-2 -border-l-color-tertiary border-opacity-20"
    >
      <div class="icon-placeholder mr-4">
        <Browser class="size-10" />
      </div>
      <div>
        <h3 class="text-lg text-pretty">Diseño Web Responsivo y Adaptable</h3>
        <p class="text-pretty">
          Nos aseguramos que tu sitio se vea perfecto en cualquier dispositivo, garantizando
          una experiencia excepcional.
        </p>
      </div>
    </article>
  </div>
</section>

<style>
  .icon-placeholder {
    @apply p-2 -bg-color-tertiary bg-opacity-50 rounded-full flex items-center justify-center;
  }
</style>
