---
import Email from './icons/Email.astro'
import User from './icons/User.astro'
import Message from './icons/Message.astro'
---

<section id="Contacto">
  <div class="py-8 lg:py-16 mx-auto max-w-screen-md">
    <h2 class="mb-4 text-4xl tracking-tight text-center text-gray-900 dark:text-white">
      Contáctanos
    </h2>
    <p
      class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl"
    >
      <b>¿Tienes alguna pregunta o necesitas ayuda con el diseño de tu página web?</b> No dudes
      en contactarnos a través de este formulario y estaremos <span
        class="-text-color-tertiary">encantados de asistirte.</span
      >
    </p>
    <form action="#" class="space-y-8">
      <div>
        <label
          for="email"
          class="flex gap-x-2 items-center mb-2 text-sm font-medium -text-color-secondary dark:text-gray-300"
        >
          <Email class="-text-color-tertiary" /> Email</label
        >
        <input
          type="email"
          id="email"
          class="shadow-sm -bg-color-secondary -text-color-secondary border -border-color-tertiary border-opacity-20 bg-opacity-10 text-gray-900 text-sm rounded focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
          placeholder="Introduce tu email"
          required
        />
      </div>
      <div>
        <label
          for="subject"
          class="flex gap-x-2 items-center mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >
          <User class="-text-color-tertiary" /> Asunto
        </label>
        <input
          type="text"
          id="subject"
          class="block p-3 w-full text-sm -bg-color-secondary -text-color-secondary -border-color-tertiary border-opacity-20 bg-opacity-10 rounded border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
          placeholder="Escribe el asunto de tu mensaje"
          required
        />
      </div>
      <div class="sm:col-span-2">
        <label
          for="message"
          class="flex gap-x-2 items-center mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
        >
          <Message class="-text-color-tertiary" /> Mensaje</label
        >
        <textarea
          id="message"
          rows="6"
          class="block p-2.5 w-full text-sm -bg-color-secondary -text-color-secondary -border-color-tertiary border-opacity-20 bg-opacity-10 rounded shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
          placeholder="Escribe tu mensaje"></textarea>
      </div>
      <button
        type="submit"
        class="py-3 px-5 text-sm font-medium text-center text-white rounded -bg-color-tertiary bg-opacity-60 sm:w-fit hover:-bg-color-secondary
        hover:-text-color-primary transition-colors
         focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
        >Enviar mensaje</button
      >
    </form>
  </div>
</section>
