---
const currentYear = new Date().getFullYear()
---

<footer
  class="-text-color-secondary py-4 gap-y-2 text-xs text-pretty flex justify-between flex-wrap text-neutral-700 mt-10"
>
  <span class="mr-4">
    © {currentYear}
    <a href="https://github.com/contexto01" target="_blank">Daniel(@contexto01)</a> Todos los derechos
    reservados.
  </span>
</footer>
