---

---

<header class="-bg-color-primary flex justify-center p-4">
  <nav class="container flex justify-center w-full">
    <ul class="flex space-x-4">
      <li>
        <a
          href="/"
          class="-text-color-secondary hover:-text-color-tertiary hover:border-b-2 hover:-border-b-color-tertiary transition-all"
          >Inicio</a
        >
      </li>
      <li>
        <a
          href="/acerca-de"
          class="-text-color-secondary hover:-text-color-tertiary hover:border-b-2 hover:-border-b-color-tertiary transition-all"
          >Acerca de</a
        >
      </li>
      <li>
        <a
          href="/contacto"
          class="-text-color-secondary hover:-text-color-tertiary hover:border-b-2 hover:-border-b-color-tertiary transition-all"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
</header>
