---
const LINKS = [
  { href: '/#Servicios', text: 'Servicios' },
  { href: '/#Projectos', text: 'Projectos' },
  { href: '/#Contacto', text: 'Contacto' }
]
---

<header class="flex justify-center p-4">
  <nav class="container flex justify-center w-full">
    <ul class="flex space-x-4">
      <!-- <li>
        <a
          href="/"
          class="-text-color-secondary hover:-text-color-tertiary hover:border-b-2 hover:-border-b-color-tertiary transition-all"
          >Servicios</a
        >
      </li> -->
      {
        LINKS.map((link) => (
          <li>
            <a
              href={link.href}
              class="-text-color-secondary hover:-text-color-tertiary hover:border-b-2 hover:-border-b-color-tertiary transition-all"
            >
              {link.text}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
