---
import LogoSinFondo from './icons/LogoSinFondo.astro'
---

<nav>
  <a
    href="/"
    class="flex justify-center items-center gap-x-4 h-16 bg-gray-800 text-white text-2xl"
  >
    <LogoSinFondo class="w-8 h-8" />
    <h2>Desarrollo <span class="-text-color-tertiary">Digital</span></h2>
  </a>
</nav>
