---
import LogoSinFondo from './icons/LogoSinFondo.astro'

const LINKS = [
  { href: '/services', text: 'Servicios' },
  { href: '/pricing', text: 'Precios' },
  { href: '/projects', text: 'Proyectos' },
  { href: '/blog', text: 'Blog' },
  { href: '/contact', text: 'Contacto' }
]
---

<nav
  class="-bg-color-secondary flex -text-color-primary items-center justify-center md:justify-between gap-x-4 flex-wrap p-0 md:px-40"
>
  <a
    href="/"
    class="flex justify-center items-center -text-color-primary gap-x-4 h-16 text-white text-2xl"
  >
    <LogoSinFondo class="w-8 h-8" />
    <h2>Desarrollo <span class="-text-color-tertiary">Digital</span></h2>
  </a>
  <ul class="flex gap-x-2 sm:gap-x-8">
    <!-- <li><a href="/services" class="text-white">Servicios</a></li>
    <li><a href="/pricing" class="text-white">Precios</a></li>
    <li><a href="/projects" class="text-white">Proyectos</a></li>
    <li><a href="/blog" class="text-white">Blog</a></li>
    <li><a href="/contact" class="text-white">Contacto</a></li> -->
    {
      LINKS.map((link) => (
        <li>
          <a
            href={link.href}
            class="hover:-border-b-color-tertiary hover:border-b-2 hover:-text-color-tertiary transition-colors font-black"
          >
            {link.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
