---
import Code from './icons/Code.astro'
import Search from './icons/Search.astro'
import World from './icons/World.astro'
---

<section class="">
  <div class="container px-4 mx-auto">
    <h2 class="text-4xl font-medium text-center mb-12">Nuestros Servicios</h2>
    <div class="grid md:grid-cols-3 gap-8">
      <div
        class="-bg-color-secondary border -border-color-tertiary border-opacity-20 bg-opacity-10 rounded p-6"
      >
        <Code class="-text-color-tertiary size-20 mb-4" />
        <h3 class="text-3xl mb-2">Desarrollo Web</h3>
        <p class="text-opacity-70 -text-color-secondary">
          Sitios web modernos y responsivos que destacan tu marca y mejoran la experiencia de
          tus usuarios.
        </p>
      </div>
      <div
        class="-bg-color-secondary border -border-color-tertiary border-opacity-20 bg-opacity-10 rounded p-6"
      >
        <Search class="-text-color-tertiary size-20 mb-4" />
        <h3 class="text-3xl mb-2">SEO</h3>
        <p class="text-opacity-70 -text-color-secondary">
          Optimización para motores de búsqueda que aumenta tu visibilidad online y atrae más
          clientes.
        </p>
      </div>
      <div
        class="-bg-color-secondary border -border-color-tertiary border-opacity-20 bg-opacity-10 rounded p-6"
      >
        <World class="-text-color-tertiary size-20 mb-4" />
        <h3 class="text-3xl mb-2">Marketing Digital</h3>
        <p class="text-opacity-70 -text-color-secondary">
          Estrategias digitales completas para hacer crecer tu presencia online y alcanzar tus
          objetivos.
        </p>
      </div>
    </div>
  </div>
</section>
