---
import Code from './icons/Code.astro'
import Search from './icons/Search.astro'
import World from './icons/World.astro'
---

<section id="Servicios">
  <div class="container mx-auto">
    <div class="max-w-screen-md text-pretty mb-8 lg:mb-12">
      <h2 class="mb-4 text-4xl tracking-tight">游 Nuestros Servicios</h2>
      <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">
        Te ayudamos a transformar tu visi칩n en realidad con servicios digitales de alta calidad
        y soluciones a medida.
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-8">
      <div
        class="-bg-color-secondary bg-opacity-5 rounded p-6 shadow -shadow-color-tertiary"
        data-aos="fade-up"
        data-aos-delay="50"
      >
        <Code class="-text-color-tertiary size-20 mb-4" />
        <h3 class="text-3xl mb-2">Desarrollo Web</h3>
        <p class="text-opacity-70 text-pretty -text-color-secondary">
          Sitios modernos, funcionales y con dise침o atractivo que mejoran la experiencia del
          usuario.
        </p>
      </div>
      <div
        class="-bg-color-secondary shadow -shadow-color-tertiary bg-opacity-5 rounded p-6"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <Search class="-text-color-tertiary size-20 mb-4" />
        <h3 class="text-3xl mb-2">SEO</h3>
        <p class="text-opacity-70 text-pretty -text-color-secondary">
          Mejoramos tu visibilidad en los motores de b칰squeda para atraer m치s tr치fico
          calificado.
        </p>
      </div>
      <div
        class="-bg-color-secondary shadow -shadow-color-tertiary bg-opacity-5 rounded p-6"
        data-aos="fade-up"
        data-aos-delay="150"
      >
        <World class="-text-color-tertiary size-20 mb-4" />
        <h3 class="text-3xl mb-2">Marketing Digital</h3>
        <p class="text-opacity-70 text-pretty -text-color-secondary">
          estrategias personalizadas para incrementar tu presencia online y maximizar
          resultados.
        </p>
      </div>
    </div>
  </div>
</section>
